<div class="menu">
  <h2>{{user}}</h2>
  <a [routerLink]="['/Home/CreateChart']">Criar Personagem</a>
  <a [routerLink]="['/Home/Treinar']">Treinar Personagem</a>
  <a [routerLink]="['/Home/CriarArma']">Criar Arma</a>
  <a [routerLink]="['/Arena']">Arena</a>
  <a (click)="sair()">Sair</a>
</div>
<div class="personagens">
  <img src="../../../assets/Images/aliado.png">
  <div class="informacoes">
    <h1>{{chartInf[per].Nome}}</h1>
    <p>Ataque: {{chartInf[per].Atk}}</p>
    <p>Inteligência: {{chartInf[per].Int}}</p>
    <p>Vida: {{chartInf[per].Vida}}</p>
    <button (click)="eliminar()">Eliminar</button>
  </div>
</div>
<div class="botoes">
  <button (click)="mudarEs()"><-</button>
      <button (click)="mudarDi()">-></button>
</div>
<router-outlet></router-outlet>
