<div class="menu">
  <a (click)="sair()">Sair</a>
  <button (click)="batalha()">Dar um Soco</button>
  <a (click)="armas()">Armas</a>
</div>
<div class="luta">
  <img src="../../../assets/Images/aliado.png">
  <div class="joga">
    <h1>{{chartInf.Nome}}</h1>
    <p>Ataque: {{atk}}</p>
    <p>Inteligência: {{chartInf.Int}}</p>
    <p>Vida: {{chartInf.Vida}}</p>
    <div class="armasT">
      <div *ngFor="let arma of armasT">
        <p>{{arma.nome}} - Ataque {{arma.Atk}}</p>
      </div>
    </div>
  </div>
  <div class="eni">
    <h1>{{chartInfI.Nome}}</h1>
    <p>Ataque: {{atkI}}</p>
    <p>Inteligência: {{chartInfI.Int}}</p>
    <p>Vida: {{chartInfI.Vida}}</p>
    <div class="armasI">
      <div *ngFor="let arma of armasI">
        <p>{{arma.nome}} - Ataque {{arma.Atk}}</p>
      </div>
    </div>
  </div>
  <img src="../../../assets/Images/inimigo.png">
</div>
